SOURCE_ACCOUNT=
NETWORK=testnet

ADMIN_ADDRESS=
ADMIN_SIGNER=

IDENTITY_ADDRESS=
COMPLIANCE_ADDRESS=
FACTORY_ADDRESS=
USDC_ADDRESS=CBIELTK6YBZJU5UP2WWQEUCYKLPU6AUNZ2BQ4WWFEIE3USCIHMXQDAMA

FACTORY_PROTOCOL_FEE_BPS=50
SEP57_WASM_HASH=